.section-title h5{
    text-align: center;
}
.tech-stack-section{
    margin-top: 50px;
 
    padding: 40px;
    height: auto;
}
.techContent{
    margin: 15px;
    box-shadow: 5px 4px 5px skyblue;
    padding: 20px;
    cursor: pointer;
    border-radius: 40px 10px;
}
#dark .techContent{
    background-color: #38004c;
    box-shadow: -12px 9px 22px -7px rgba(0,0,0,0.46);
    -webkit-box-shadow: -12px 9px 22px -7px rgba(0,0,0,0.46);
    -moz-box-shadow: -12px 9px 22px -7px rgba(0,0,0,0.46);
}
#dark .techContent:hover{
    color: gold;
    background-color: rgb(11, 11, 11);
}
.techContent:hover{
    margin: 10px;
    background-color: rgba(17, 146, 116, 0.2);
    box-shadow: -5px -5px 5px skyblue;
    transition-duration: 1s;
    padding: 30px;
    cursor: pointer;
    color: purple;
}
.techContent p{
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
   
}

.TechNumber{

    display: block;
    width: 50px;
    height: 50px;
    color: rgb(255, 255, 255);
    border-radius: 90px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-weight: bolder;
    line-height: 50px;
    margin-top: -40px;
}
.loadMore{
    background-color: rgb(187, 11, 218);
    width: 150px;
    padding: 10px;
    color: white;
    display: table;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    cursor: pointer;
    border-radius: 10px 50px;
}
.techContentOne{
  background-color: aquamarine;
}
.loadMore:hover{
    background-color:rgb(63, 1, 74) ;
    
    padding-right: 25px;
    transition-duration: 1s;
}

