.home{
    width: 68%;
    position: relative;
    height: 200px;
    color: whitesmoke;
    
    
}
.home_content{   
    padding: 10px;
    margin-top: 100px;
}
.home_content h4{
    color: rgb(255, 242, 0);
    text-shadow: 2px 2px 4px rgb(120, 28, 207);
}
.btn-container{
    display: flex;
}
.hire-me-btn{
    background-color: #f48249;
    text-align: center;
    width: 180px;
    border-radius: 90px;
    border: 3px solid rgb(247, 246, 242);
    cursor: pointer;
    padding: 10px;
    font-size: 17px;
    margin-top: 10px;
    box-shadow: 2px 2px 4px rgb(64, 19, 106);
}
.hire-me-btn:hover{
    background-color: beige;
    width: 250px;
    color: black;
    transition-duration: 1s;
    border: 3px solid rgb(219, 10, 31);

}
.get-resume-btn{
    background-color: rgb(255, 89, 0);
    text-align: center;
    width: 180px;
    border-radius: 90px;
    border: 3px solid rgb(253, 253, 253);
    cursor: pointer;
    padding: 10px;
    box-shadow: 2px 2px 4px rgb(64, 19, 106);
    font-size: 17px;
    margin-left: 10px;
    margin-top: 10px;
}
.get-resume-btn:hover{
    background-color: beige;
    width: 250px;
    color: black;
    transition-duration: 1s;
    border: 3px solid rgb(219, 10, 31);
}
.get-resume-btn a{
    text-decoration: none;
    color: black;
}
.themeChange{
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: blueviolet;
    right: 0;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    position: fixed;
    top: 150px;
    border-radius: 30px;
    cursor: pointer;
    z-index: 1;
    margin-right: 10px;
}
.sunTheme{
    animation: rotationSun infinite  5s linear ;
}
@keyframes rotationSun {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.moonTheme{
    animation: rotationMoon backwards  5s linear ;
}

@keyframes rotationMoon {
    from{
        transform: rotate(180deg);
    }
    to{
        transform: rotate(360deg);
    }
}