.profile_pic_nav img{
    width: 120px;
    height: 150px;
    border-radius: 70px;
    
    display: flex;
    vertical-align: middle;
    margin: 0 auto;
    margin-top: 0px;
    object-fit: cover;
    border: 3px solid blueviolet;
    box-shadow: -10px 0px 30px rgba(128, 1, 248, 0.5);

}
.navbar_items ul li{
    color: white;
    list-style-type: none;
    margin-top: 15px;
    cursor: pointer;
    font-size: 15px;
}
.navbar_items ul li svg{
 margin-left: 15px;
 margin-right: 10px;
}
.navbar_only_icons ul li {
    color: white;
    list-style-type: none;
    margin-top: 30px;
    cursor: pointer;
}
.navbar_only_icons ul li svg{
    margin-left: 10px;
}
.nav_item .active{
    border-left: 3px solid rgb(205, 50, 130);
    color: orange;
    text-decoration: none;
    transition-duration: .5s;
}